@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

/*===============  MY CUSTOM CSS ===============*/
:root {
  /*========== My Custom Colors ==========*/

  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(219, 69%, 56%);
  --first-color-alt: hsl(219, 69%, 52%);
  --title-color: #030303;
  --text-color: hsl(219, 8%, 75%);
  --text-color-light: hsl(219, 4%, 55%);
  --white-color: #fff;
  --text-decoration-color: rgb(3,3,3);

  /* --body-color: hsl(219, 4%, 4%); */
  --body-color: hsl(283, 89%, 7%);
  --container-color: hsl(219, 4%, 7%);

  /*========== My Custom Font and typography ==========*/

  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Roboto", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE CSS ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}
h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


.main-title {
  color: var(--title-color);
  font-family: var(--body-font);
  font-size: 18px;
  line-height: 26px;
  vertical-align: baseline;
  letter-spacing: normal;
  font-weight: 400;
  text-decoration: none solid var(--text-decoration-color);

}
.side-title-font {
  color: var(--title-color);
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-decoration: none solid var(--text-decoration-color);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.list-feature {
  cursor: pointer;
}
